
/* ------------------------------------- */
/* THIS IS FOR MOBILE */
/* ------------------------------------- */
body{
    background-color: rgba(77, 47, 9, 0.801);
}

h1{
    color: sandybrown

}

h2{
    color: pink
}

/* ------------------------------------- */
/* THIS IS FOR TABLET */
/* -------------------------------------- */
@media only screen and (min-width: 600px) {
    body{
        background-color: rgb(3, 11, 54);
    }
    h1 {
        color: lightblue;
    }
}


/* ------------------------------------- */
/* THIS IS FOR DESKTOP */
/* ------------------------------------- */
@media only screen and (min-width: 768PX) {
    body{
        background-color: rgb(19, 99, 95);
    }
    
    h1 {
        color: lightseagreen
    }
}